<app-navbar></app-navbar>
<section class="section" id="management">
        <div class="row justify-content-center text-center">
            <div class="col-lg-12 manage">
                <i class="ti-ruler-pencil title-icon text-muted"></i>
                <h3 class="title">Community <span class="fw-bold">Management</span></h3>
                <p class="text-muted mt-3 title-subtitle mx-auto">Nos professionnels en community management vous accompagnent dans la mise en place de vos stratégie marketing sur les réseaux sociaux. Notre objectif est de vous aider à accroître votre visibilité sur les réseaux sociaux ( Facebook, Instagram,
                    Tik Tok, Linkedin..), attirer plus de clients en ligne et générer des revenus.</p>
            </div>
            <div class="row justify-content-center text-center mt-3">
                <div class="col-md-3 mt-3">
                    <div>
                        <img src="assets/images/communitymanagement7.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div>
                        <img src="assets/images/communitymanagement3.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div>
                        <img src="assets/images/communitymanagement1.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div>
                        <img src="assets/images/communitymanagement2.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div>
                        <img src="assets/images/communitymanagement4.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div>
                        <img src="assets/images/communitymanagement5.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div>
                        <img src="assets/images/communitymanagement8.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div>
                        <img src="assets/images/communitymanagement6.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                </div>
            </div>
        </div>
    <div class="row" style="margin-left:10%;">
        <div class="col-md-2">
            <div>
                <a type="button" data-bs-toggle="modal" data-bs-target="#packlight"><img src="assets/images/UrbancommunicationPack.png" class="img-fluid mx-auto d-block" /></a>
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <a  type="button" data-bs-toggle="modal" data-bs-target="#packpresence"><img src="assets/images/UrbancommunicationPack3.png" class="img-fluid mx-auto d-block" /></a>
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <a  type="button" data-bs-toggle="modal" data-bs-target="#packpremium"><img src="assets/images/UrbancommunicationPack2.png" class="img-fluid mx-auto d-block" /></a>
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <a  type="button" data-bs-toggle="modal" data-bs-target="#packpremiumplus"><img src="assets/images/UrbancommunicationPack1.png" class="img-fluid mx-auto d-block" /></a>
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <a  type="button" data-bs-toggle="modal" data-bs-target="#specialrest"><img src="assets/images/UrbancommunicationPack4.png" class="img-fluid mx-auto d-block" /></a>
            </div>
        </div>
    </div>
    <div class="modal fade" id="packlight" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="background-color: black;">
            <div class="modal-content">
                <div class="modal-header" style="background-color: black;">
                    <h1 class="modal-title fs-5" id="packlight" style="font-family: Marvel;font-size:20px;color:red;margin-left: 40%;">Pack LIGHT</h1>
                    <a type="button" class="ti-close" style="color:white" data-bs-dismiss="modal" aria-label="Close"></a>
                </div>
                <div class="modal-body" style="background-color: black;font-family: Marvel;color:white;">
                    <p style="font-size: 20px;margin-left: 20%;">Création/audit des réseaux sociaux</p>
                    <p style="font-size: 20px;margin-left: 20%;">Optimisation des pages/comptes</p>
                    <p style="font-size: 20px;margin-left: 20%;">Veille sur votre entreprise</p>
                    <p style="font-size: 20px;margin-left: 20%;">Création d'un habillage personnalisé</p>
                    <p style="font-size: 20px;margin-left: 20%;">Stratégie des réseaux sociaux</p>
                    <p style="font-size: 20px;margin-left: 20%;">Gestion des commentaires et messages</p>
                    <p style="font-size: 20px;margin-left: 20%;">Calendrier éditorial mensuel</p>
                    <p style="font-size: 20px;margin-left: 20%;">4 partages/mois</p>
                    <p style="font-size: 20px;margin-left: 20%;">1 consultant</p>
                    <p style="font-size: 20px;margin-left: 20%;">Engagement minimum 3mois</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="packpresence" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: black;">
                    <h1 class="modal-title fs-5" id="packpresence" style="font-family: Marvel;font-size:20px;color:red;margin-left: 40%;">PACK PRESENCE</h1>
                    <a type="button" class="ti-close" style="color:white" data-bs-dismiss="modal" aria-label="Close"></a>
                </div>
                <div class="modal-body" style="font-family: Marvel;color:white;background-color: black;">
                    <p style="font-size: 20px;margin-left: 20%;">Création/audit des réseaux sociaux</p>
                    <p style="font-size: 20px;margin-left: 20%;">Optimisation des pages/comptes</p>
                    <p style="font-size: 20px;margin-left: 20%;">Veille sur votre entreprise</p>
                    <p style="font-size: 20px;margin-left: 20%;">Stratégie des réseaux sociaux</p>
                    <p style="font-size: 20px;margin-left: 20%;">Gestion des commentaires et messages</p>
                    <p style="font-size: 20px;margin-left: 20%;">Calendrier éditorial mensuel</p>
                    <p style="font-size: 20px;margin-left: 20%;">6 partages/mois (2 sponsorings)</p>
                    <p style="font-size: 20px;margin-left: 20%;">1 consultant</p>
                    <p style="font-size: 20px;margin-left: 20%;">Rapport bi-mensuel</p>
                    <p style="font-size: 20px;margin-left: 20%;">Engagement minimum 3mois</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="packpremium" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: black;">
                    <h1 class="modal-title fs-5" id="packpremium" style="font-family: Marvel;font-size:20px;color:red;margin-left:40%;">PACK Premium</h1>
                    <a type="button" class="ti-close" style="color:white" data-bs-dismiss="modal" aria-label="Close"></a>
                </div>
                <div class="modal-body" style="font-family: Marvel;color:white;background-color: black;">
                    <p style="font-size: 20px;margin-left: 20%;">Création/audit des réseaux sociaux</p>
                    <p style="font-size: 20px;margin-left: 20%;">Optimisation des pages/comptes</p>
                    <p style="font-size: 20px;margin-left: 20%;">Veille sur votre entreprise</p>
                    <p style="font-size: 20px;margin-left: 20%;">Stratégie des réseaux sociaux</p>
                    <p style="font-size: 20px;margin-left: 20%;">Gestion des commentaires et messages</p>
                    <p style="font-size: 20px;margin-left: 20%;">Calendrier éditorial mensuel</p>
                    <p style="font-size: 20px;margin-left: 20%;">10 partages/mois (5 sponsorings)</p>
                    <p style="font-size: 20px;margin-left: 20%;">Publication des contenus </p>
                    <p style="font-size: 20px;margin-left: 20%;">Mise en place de jeux concours</p>
                    <p style="font-size: 20px;margin-left: 20%;">Construction des communautés</p>
                    <p style="font-size: 20px;margin-left: 20%;">2 consultants</p>
                    <p style="font-size: 20px;margin-left: 20%;">Rapport bi-mensuel</p>
                    <p style="font-size: 20px;margin-left: 20%;">1 Entretien mensuel</p>
                    <p style="font-size: 20px;margin-left: 20%;">Engagement minimum 3mois</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="packpremiumplus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: black;">
                    <h1 class="modal-title fs-5" id="packpremiumplus" style="font-family: Marvel;font-size:20px;color:red;margin-left:30%;">PACK Premium Plus</h1>
                    <a type="button" class="ti-close" style="color:white" data-bs-dismiss="modal" aria-label="Close"></a>
                </div>
                <div class="modal-body" style="font-family: Marvel;color:white;background-color: black;">
                    <p style="font-size: 20px;margin-left: 20%;">Création/audit des réseaux sociaux</p>
                    <p style="font-size: 20px;margin-left: 20%;">Optimisation des pages/comptes</p>
                    <p style="font-size: 20px;margin-left: 20%;">Veille sur votre entreprise</p>
                    <p style="font-size: 20px;margin-left: 20%;">Stratégie des réseaux sociaux</p>
                    <p style="font-size: 20px;margin-left: 20%;">Gestion des commentaires et messages</p>
                    <p style="font-size: 20px;margin-left: 20%;">Calendrier éditorial mensuel</p>
                    <p style="font-size: 20px;margin-left: 20%;">15 partages/mois (8 sponsorings)</p>
                    <p style="font-size: 20px;margin-left: 20%;">Publication des contenus </p>
                    <p style="font-size: 20px;margin-left: 20%;">Mise en place de jeux concours</p>
                    <p style="font-size: 20px;margin-left: 20%;">Construction des communautés</p>
                    <p style="font-size: 20px;margin-left: 20%;">2 consultants</p>
                    <p style="font-size: 20px;margin-left: 20%;">Rapport bi-mensuel</p>
                    <p style="font-size: 20px;margin-left: 20%;">1 Entretien mensuel</p>
                    <p style="font-size: 20px;margin-left: 20%;">Engagement minimum 3mois</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="specialrest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: black;">
                    <h1 class="modal-title fs-5" id="specialrest" style="font-family: Marvel;font-size:20px;color:red;margin-left:30%;">PACK Spécial Restaurateur</h1>
                    <a type="button" class="ti-close" style="color:white" data-bs-dismiss="modal" aria-label="Close"></a>
                </div>
                <div class="modal-body" style="font-family: Marvel;color:white;background-color: black;">
                    <p style="font-size: 20px;margin-left: 10%;">4 visuels par semaine issus de la banque d’UrbanCom</p>
                    <p style="font-size: 20px;margin-left: 10%;">Gestion des commentaires et des messages des clients</p>
                    <p style="font-size: 20px;margin-left: 10%;">Sponsoring sur demande</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>