.phoening{
    margin-top:60px;
    background-color: black;
    color:whitesmoke;
}

.phone h3{
    font-family: Marvel;
    font-size:35px 
}

.phone p{
    font-family: Marvel;
    font-size:20px
}