<app-navbar></app-navbar>
<section class="section" id="crispy">
    <div class="row justify-content-center text-center">
        <div class="col-lg-12 titre">
            <i class="ti-face-smile title-icon text-muted"></i>
            <h3 class="title">Crispy <span class="fw-bold">eats</span></h3>
        </div>
        <div class="row  justify-content-center text-center mt-3">
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/crispy eats/crispy.jpg" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/crispy eats/crispy1.jpg" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/crispy eats/crispy2.jpg" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/crispy eats/crispy3.jpg" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/crispy eats/crispy5.jpg" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/crispy eats/crispy6.jpg" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/crispy eats/crispy7.jpg" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/crispy eats/crispy8.jpg" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/crispy eats/crispy9.jpg" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/crispy eats/crispy10.jpg" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/crispy eats/crispy11.jpg" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/crispy eats/crispy12.jpg" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>