<app-navbar></app-navbar>
<section class="section" id="laromate">
    <div class="row justify-content-center text-center">
        <div class="col-lg-12 titre">
            <i class="ti-face-smile title-icon text-muted"></i>
            <h3 class="title">L'aromate<span class="fw-bold"></span></h3>
        </div>
        <div class="row justify-content-center text-center mt-3">
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/laromate/laromate.png" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/laromate/laromate1.png" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/laromate/laromate2.png" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/laromate/laromate3.png" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/laromate/laromate4.png" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/laromate/laromate5.jpg" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/laromate/laromate6.jpg" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/laromate/laromate7.jpg" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/laromate/laromate8.jpg" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div>
                    <img src="assets/images/laromate/laromate9.jpg" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>