<section class="section" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <img src="assets/images/Urbancommunicationfooter.png">
                </div>
                <ul class="collapse navbar-collapse">
                    <li class="list-inline-item">
                        <a href="https://wa.me/58172694"><img src="assets/images/whas.png" alt="" class="img-fluid mx-auto d-block"></a>
                    </li>
                    <li class="list-inline-item mb-1">
                        <a href="https://twitter.com/UOwnerr2"><img src="assets/images/twit.png" alt="" class="img-fluid mx-auto d-block"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/profile.php?id=100078063384775"><img src="assets/images/face.png" alt="" class="img-fluid mx-auto d-block"></a>
                    </li>
                    <li class="list-inline-item mb-1">
                        <a href="https://www.linkedin.com/company/urbancomagence/"><img src="assets/images/link.png" alt="" class="img-fluid mx-auto d-block"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/urban_communication22/"><img src="assets/images/ins.png" alt="" class="img-fluid mx-auto d-block"></a>
                    </li>
                    <li class="list-inline-item mb-1">
                        <a href="mailto: Agencemarketing@urbancommunication.net"><img src="assets/images/gmail.png" alt="" class="img-fluid mx-auto d-block"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.tiktok.com/@urban_com?lang=fr"><img src="assets/images/tik.png" alt="" class="img-fluid mx-auto d-block"></a>
                    </li>

                    <li class="list-inline-item mb-1">
                        <a href="https://www.behance.net/urbancommunication?tracking_source=search_users|urban%20communication"><img src="assets/images/beha.png" alt="" class="img-fluid mx-auto d-block"></a>
                    </li>
                </ul>
                <div class="mt-4 pt-2 text-center">
                    <p class="copy-rights text-muted mb-0">
                        {{year}} © Urban-communication. Design by UrbanCom
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>